body {
  background-color: antiquewhite;
}

.h1_header {
  text-align:center;
}

.section_calc {
  text-align: center;
}

.div_input {
  margin-bottom: 5px;
}

.div_calc {
  margin-top: 70px;
}


.calc_result {
  width: 324px;
  text-align: right;
  height: 60px;
  font-size: 30pt;
  border-radius: 3px;
  border-style: solid;
  border-width: 3px;
  pointer-events: none;
}

.num_button, .op_button {
  color: black;
  width: 80px;
  height: 80px;
  font-size: 20pt;
  margin-bottom: 3px;
}

.clear_button {
  width: 332px;
  height: 80px;
  font-size: 20pt;
  color: black;
}

